In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

Collect all results

In [3]:
# aggregated
comb_idx_agg_df = pd.read_csv("aggregated/comp_index_result.csv")
intersect_agg_df = pd.read_csv("aggregated/intersect_result.csv")
no_idx_agg_df = pd.read_csv("aggregated/no_index_result.csv")
x_idx_agg_df = pd.read_csv("aggregated/x_index_result.csv")
y_idx_agg_df = pd.read_csv("aggregated/y_index_result.csv")

# individual
comb_idx_df = pd.read_csv("individual/comp_index_result.csv")
intersect_df = pd.read_csv("individual/intersect_result.csv")
no_idx_df = pd.read_csv("individual/no_index_result.csv")
x_idx_df = pd.read_csv("individual/x_index_result.csv")
y_idx_df = pd.read_csv("individual/y_index_result.csv")

Look at some data frame

In [4]:
comb_idx_agg_df.head(5)

,x_min,x_max,y_min,y_max,repeat,row_count_total,row_count_avg,execution_time_total_ms,execution_time_avg_ms
0,1047107,1047147,5592896,5592926,20,0,0,3.259,0.163
1,906961,907041,5682350,5682410,20,0,0,5.268,0.263
2,895489,895609,5671974,5672064,20,0,0,4.939,0.247
3,948553,948713,5446881,5447001,20,0,0,6.807,0.340
4,918843,919043,5571270,5571420,20,0,0,5.920,0.296

In [5]:
comb_idx_df.tail(5)

      x_min    x_max    y_min    y_max  records_count  execution_time_ms
435  879220  1679220  5442513  6042513         965904           1923.292
436  879220  1679220  5442513  6042513         965904           1901.041
437  879220  1679220  5442513  6042513         965904           1788.771
438  879220  1679220  5442513  6042513         965904           2237.014
439  879220  1679220  5442513  6042513         965904           2097.673